.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}


.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.contactHeader {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 10px;
  padding: 10px;
}

.contactContent{
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}


.contactFormCard {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 20px;
  background: var(--color-input-background);
  border-radius: 10px;
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 35vw;
  height: 90vh;
  margin-bottom: 30px;
  

}

.contactAboutCard h2{
  font-size: 1rem;
  margin-right: 80px;
}

.contactAboutCard img {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 50px;
}