.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(rgba(64,224,208,1) 40%, rgba(9,9,121,1) 100%,rgba(2,0,36,1)0%);
  }


  .profilesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    flex: 1;


}


  .container h2 {
    font-size: 2rem;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 15px;

  }







@media (max-width: 720px){


  .container h2 {
    font-size: 1.1rem;
    align-self: center;
    padding: 10px;
  }

  .profilesContainer {
    display: flex;
    flex-direction: column;
  }

}
