:root {
  /* CORES */
  
  --background: #dfdfdf;
  --navbar-color: rgba(255, 255, 255, 0.3);
  --footer-color: rgb(167, 167, 167, 0.5);
  --navbar-menu-color: rgb(167, 167, 167);
  --title-color: rgb(7, 7, 7);


  --color-background: #F0F0F7;
  --color-primary-lighter: #9871F5;
  --color-primary-light: #916BEA;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;


  /* FONTES */


  --font-all: 'Montserrat', sans-serif;


}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}


html {
  min-height: 100vh;
  position: relative;
}


body{
  background-color: var(--background);
  font-size: 1rem;
  font-family: var(--font-all);
  font: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}


a, li, ul {
  text-decoration: none;
  list-style-type: none;
}